@using Bicks.Models
@model Bicks.Areas.Sales.ViewModels.SaleViewModel

@{
    ViewData["Title"] = "Create Sales";
    ViewData["Heading"] = "Create Sales";
}

<style>
    .accordion {
        border: none;
        text-align: left;
        width: 100%;
        cursor: pointer;
        font-size: 15px;
        transition: 0.4s;
    }

        .active, .accordion:hover {
            background-color: #ccc;
        }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
</style>

@section Toolbar {
    <li class="nav-item toolbar-item">
        <a href="javascript:submitForm()">
            <i class="fa fa-check"></i>
            <p class="">Finish Sale</p>
        </a>
    </li>
    <li class="nav-item toolbar-item">
        <a asp-area="Sales" asp-controller="Sales" asp-action="SalesList">
            <i class="fa fa-times"></i>
            <p class="">Cancel</p>
        </a>
    </li>
}

@section Scripts {
    <script type="text/javascript">
        function submitForm() {
            $('#create-sale-form').submit();
        }
    </script>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                event.preventDefault();
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<form method="post" id="create-sale-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Client.ID" hidden />
    @{
        List<Category> categories = new List<Category>();
        List<SubCategory> subCategories = new List<SubCategory>();
        foreach (InvoiceItem invoiceItem in Model.InvoiceItems)
        {
            if (!categories.Any(item => item.ID == invoiceItem.Product.SubCategory.Category.ID))
            {
                categories.Add(invoiceItem.Product.SubCategory.Category);
            }
            if (!subCategories.Any(item => item.ID == invoiceItem.Product.SubCategory.ID))
            {
                subCategories.Add(invoiceItem.Product.SubCategory);
            }
        }
    }
    @{
        if (Model.RecommendedItems.Count > 0)
        {
            <div class="row">
                <div class="col-12 col-xl-12">
                    <div>
                        <section class="data-section">
                            <button style="border: none;" class="accordion section-header">Recommended</button>
                            <div class="panel section-body">
                                <div class="row">
                                    @for (int i = 0; i < Model.RecommendedItems.Count; i++)
                                    {
                                        <div class="col-md-3 mb-2">
                                            <div class="card">
                                                @Html.EditorFor(m => m.RecommendedItems[i])
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        }
        foreach (Category category in categories)
        {
            <div class="row">
                <div class="col-12 col-xl-12">
                    <div>
                        <section class="data-section">
                            <button style="border: none;" class="accordion section-header">@category.Name</button>
                            <div class="panel section-body">
                                @foreach (SubCategory subCategory in subCategories)
                                {
                                    if (subCategory.Category == category)
                                    {
                                        <div class="row">
                                            <div class="col-12 col-xl-12">
                                                <div>
                                                    <section class="data-section">
                                                        <button class="accordion section-header">@subCategory.Name</button>
                                                        <div class="panel section-body">
                                                            <div class="row">
                                                                @for (int i = 0; i < Model.InvoiceItems.Count; i++)
                                                                {
                                                                    if (Model.InvoiceItems[i].Product.SubCategory.ID == subCategory.ID)
                                                                    {
                                                                        <div class="col-md-3 mb-2">
                                                                            <div class="card">
                                                                                @Html.EditorFor(m => m.InvoiceItems[i])
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        }
    }
</form>