@{
    ViewData["Title"] = "Sales Management";
    ViewData["Heading"] = "Sales Management";
}
<div class="card-grid">
    <a class="card" asp-area="Sales" asp-controller="Sales" asp-action="SalesList">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Sales List</h5>
                    <p class="card-text">List of all sales</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="Sales" asp-controller="Sales" asp-action="GenerateExampleSale">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Generate Example Sale</h5>
                    <p class="card-text">Generates a sale for testing purposes</p>
                </div>
            </div>
        </div>
    </a>
</div>