<h1>Invoicing</h1>

<div class="card-grid">
    <a class="card" asp-area="Invoicing" asp-controller="Invoicing" asp-action="GenerateInvoice">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Create Job</h5>
                    <p class="card-text">Create a new reactive job</p>
                </div>
            </div>
        </div>
    </a>
</div>