@{
    ViewData["Title"] = "Category List";
    ViewData["Heading"] = "Categories";
}
@model IEnumerable<Bicks.Models.Category>
<div class="create">
    <p>
        <a asp-action="CreateCategory">Create New Category</a>
    </p>
</div>
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="EditCategory" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="DeleteCategory" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>