@{ Layout = "/Views/Shared/_LayoutNavigation.cshtml";
    ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome to Bicks!</h1>
</div>
<h2>Quick Access</h2>
<div class="card-grid">
    <a class="card" asp-area="ClientManagement" asp-controller="ClientManagement" asp-action="ClientList">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-fluid rounded-start fa fa-user" alt="" />
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Client List</h5>
                    <p class="card-text">List of all Clients</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="Sales" asp-controller="Sales" asp-action="SalesList">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Sales List</h5>
                    <p class="card-text">List of all Sales</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="ProductManagement" asp-controller="ProductManagement" asp-action="CategoryList">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Category List</h5>
                    <p class="card-text">List of all category</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="" asp-controller="" asp-action="">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">This is a description</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="" asp-controller="" asp-action="">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">This is a description</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="" asp-controller="" asp-action="">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">This is a description</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="" asp-controller="" asp-action="">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">This is a description</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="" asp-controller="" asp-action="">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">This is a description</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="" asp-controller="" asp-action="">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">This is a description</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="" asp-controller="" asp-action="">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">This is a description</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="" asp-controller="" asp-action="">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">This is a description</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="" asp-controller="" asp-action="">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">This is a description</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="" asp-controller="" asp-action="">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">This is a description</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="" asp-controller="" asp-action="">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">This is a description</p>
                </div>
            </div>
        </div>
    </a>
    <a class="card" asp-area="" asp-controller="" asp-action="">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">This is a description</p>
                </div>
            </div>
        </div>
    </a>
</div>